@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #ff6600;
  --primary-hover: #f0660a;
  --text-color: #333;
  --color-light: #fff;
  --color-dark: rgba(0, 0, 0, 0.925);
  --font-primary: "Roboto", san-serif;
  --header-font: 3.8rem;
  --subheader-font: 3rem;
  --text-size: 1.4rem;
  --card-title: 1.6rem;
  --space-small: 1.2rem;
  --space-medium: 1.6rem;
  --space-large: 2rem;
  --space-xl: 3.2rem;
  --space-xxl: 7.2rem;
  --main-bg: var(var(--color-light));
  /*თეთრი*/
  --main-text: var(--color-dark);
  /*შავი */
}

html {
  font-size: 62.5%;
  /*10px-1rem */
}

body {
  font-family: var(--font-primary);
  font-size: var(--text-size);
  background-color: var(--main-bg);
  color: var(--main-text);
}

body.dark-mode {
  --main-bg: var(--color-dark);
  --main-text: var(--color-light);
}


.section {
  max-width: 144rem;
  width: 90%;
  margin: 0 auto;
  margin-top: var(--space-xxl);
}

.section-header {
  font-size: var(--subheader-font);
  text-align: center;
  margin-bottom: var(--space-xxl);
}

.menu-btn,
.order-button,
.submit {
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: var(--space-small) var(--space-medium);
  border: none;
  color: var(--color-light);
  font-weight: 600;
  text-transform: uppercase;
}

.menu-btn:hover {
  background-color: var(--primary-hover);
}



/*header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--space-medium);
  background-color: var(--color-dark);
  color: var(--color-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.hero-logo {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

/*nav-links*/
.nav-links {
  display: flex;
  gap: var(--space-medium);
}

.nav-a,
a {
  color: var(--color-light);
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.nav-a:hover {
  color: var(--primary-hover);
  transform: scale(1.2);
  display: block;
  font-weight: 600;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: var(--space-medium);
}

.mode-toggle {
  transition: all 0.3s ease-in;
  font-size: 2rem;
}

.mode-toggle:hover {
  background-color: var(--primary-hover);
  transform: scale(1.2);
}

.menu-toggle {
  display: none;
}

/*hero section */
.hero-section img {
  height: 100vh;
  object-fit: cover;

}

h5 {
  font-size: var(--header-font);
}

.hero-section p {
  font-size: var(--card-title);
  font-weight: 600;
}


.carousel-caption {
  position: absolute;
}

/*about-section*/
.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-xl);
}

.about-text-box {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.about-text {
  line-height: 1.5;
  margin-bottom: var(--space-xl);
}

.name {
  color: var(--primary-hover);
  background-color: var(--color-dark);
  font-weight: 600;
  padding: 0.3rem;
  border-radius: 3rem;
  font-size: var(--card-title);
}

.about-section-image,
.about-img {
  border-radius: 1rem;
  width: 100%;
  transition: all 0.3s ease-in;
}

.about-img:hover {
  transform: scale(1.02);
}

.features-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-medium);
  margin-top: var(--space-xl);
}

.feature-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: var(--space-medium);
  border-radius: 1rem;
  font-size: var(--card-title);
  transition: all 0.3s ease-out;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.icon {
  text-align: center;
  color: var(--primary-color);
  font-size: var(--subheader-font);
}

.features-header {
  text-align: center;
  font-weight: 600;
  margin: var(--space-medium) 0;
}

.features-text {
  line-height: 1.5;
  font-size: var(--text-size);
}

/*menu Section */

.menu-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: var(--space-large) 0;
}

#searchInput,
#sortSelect {
  padding: var(--space-small);
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  font-size: var(--font-primary);
  outline: none;
  font-style: italic;
}

#searchInput:focus,
#sortSelect:focus {
  border: 2px solid var(--primary-color);
}





#categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-medium);
  margin-top: var(--space-xl);
}

.menu-text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: -4rem;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: var(--space-medium);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;

}

.card:hover {
  transform: scale(1.02);
}


.section-header {
  font-size: var(--subheader-font);
  text-align: center;
  margin-bottom: var(--space-xxl);
}

.card img {
  object-fit: cover;
  margin-bottom: var(--space-medium);
  border-radius: 1rem;

}

.price-info {
  color: var(--primary-color);
  font-weight: 600;
}

/*Testimonail-section */
.testimonials-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-medium);
  margin-top: var(--space-xl);
}

.testimonials-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: var(--space-medium);
  border-radius: 1rem;


}

.testimonials-card img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.testimonials-card img:hover {
  transform: scale(1.05);
}

.person-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-small);
  font-weight: 500;
  font-size: var(--card-title);
  margin-bottom: var(--space-medium);
  font-style: italic;
}

.testimonail-text {
  line-height: 1.5;
}

/* book */
.book-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-medium);

}

.faq-title {
  font-size: var(--subheader-font);
  text-align: center;
  color: var(--primary-color);
  margin-bottom: var(--space-xl);

}

.faq-item {
  background-color: var(--color-dark);
  border-radius: 1rem;
  margin-bottom: var(--space-medium);
  color: var(--color-light);
  overflow: hidden;
  padding: var(--space-medium) var(--space-medium) 0;

}

.faq {
  display: flex;
  flex-direction: column;

}

.faq-questions {
  margin-bottom: var(--space-medium);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--card-title);
  position: relative;
}

.faq-questions:after {
  content: "+";
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in;
  font-size: var(--card-title);
}

.faq-item p {
  margin-bottom: var(--space-medium);
  display: none;
  line-height: 1.5;
}

.faq-item.active .faq-questions:after {
  transform: rotate(45deg);
}

.faq-item.active p {
  display: block;
}

/*Booking Form*/
.booking-form {
  background-color: var(--color-dark);
  padding: var(--space-medium);
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  border-radius: 1rem;
}

.booking-form input,
.booking-form textarea,
.time-select {
  padding: 1rem;
  border-radius: 1rem;

}

.booking-form textarea {
  resize: none;
}

.booking-form label {
  color: var(--color-light);
  font-weight: 500;
  font-size: var(--card-title);
}

.submit {
  width: 12em;
  margin: 0 auto;
}

/*footer*/
footer {
  padding: var(--space-large);
  background-color: var(--color-dark);
  color: var(--color-light);
  margin-top: var(--space-xxl);
  font-size: var(--card-title);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container a:hover,
.rights-box:hover {
  color: var(--primary-hover);
  transform: scale(1.05);
}

.rights-box {
  text-align: center;
  transition: all 0.3s ease-in;
}

.social-icons {
  display: flex;
  gap: var(--space-medium);
}

.footer-icon {
  color: var(--color-light);
  font-size: var(--subheader-font);
}

.phone-box a {
  display: flex;
  align-items: center;
  gap: var(--space-medium);
}

.phone-box a:hover i {
  color: var(--primary-hover);
}